/* HERO SECTION */
#hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("images/ocean.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  background-color: rgba(51, 47, 47, 0.8);
  padding: 50px 70px;
  text-align: center;
  border-radius: 8px;
}

#hero-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

#hero-content p {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

#hero-content a {
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  border-radius: 6px;
  color: black;
  font-weight: bold;
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

/* HIGHLIGHTS */
#highlights {
  background: rgb(227, 255, 253);
  padding: 80px 0;
}

#highlights h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

#destinations {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.destination {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.destination strong {
  color: rgb(0, 160, 117);
}

/* FOOTER */
footer {
  background: black;
  padding: 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer img {
  width: 40px;
  height: 40px;
}