* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgb(68, 68, 68);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#page-logo a {
  font-family: "Oleo Script", cursive;
  font-size: 32px;
  color: rgb(245, 243, 160);
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav a {
  color: rgb(255, 251, 0);
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 6px;
}

header nav a:hover {
  background-color: rgb(255, 251, 0);
  color: black;
}